In [3]:
import pandas as pd
import numpy as np


df = pd.read_csv("Diabetes.csv")

print(df.isnull().sum())
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)


for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

/tmp/ipython-input-239431812.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipython-input-239431812.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv("adulting.csv")
df.replace(["?"], np.nan, inplace=True)

print(df.isnull().sum())

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

# New Section

In [23]:
import pandas as pd

# Load dataset
df = pd.read_csv("Diabetes.csv")

# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

print("Categorical Columns:")
print(categorical_cols)

Categorical Columns:
Index(['Gender', 'CLASS'], dtype='object')

In [24]:
import pandas as pd

# Load dataset
df = pd.read_csv("adulting.csv")

# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

print("Categorical Columns:")
print(categorical_cols)

Categorical Columns:
Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

In [28]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df_encoded)
print(df_scaled)

[[0.10958904 0.375      0.14512876 ... 0.39795918 0.92682927 0.        ]
 [0.28767123 0.375      0.05245126 ... 0.5        0.92682927 0.        ]
 [0.15068493 0.125      0.21964867 ... 0.39795918 0.92682927 1.        ]
 ...
 [0.56164384 0.375      0.09446153 ... 0.39795918 0.92682927 0.        ]
 [0.06849315 0.375      0.12800425 ... 0.19387755 0.92682927 0.        ]
 [0.47945205 0.5        0.18648211 ... 0.39795918 0.92682927 1.        ]]

In [29]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_standardized = scaler.fit_transform(df_encoded)
print(df_standardized
      )

[[-0.99512893 -0.24293274  0.35167453 ... -0.03408696  0.24986965
  -0.56084505]
 [-0.04694151 -0.24293274 -0.94552415 ...  0.77292975  0.24986965
  -0.56084505]
 [-0.77631645 -1.50098509  1.3947231  ... -0.03408696  0.24986965
   1.78302368]
 ...
 [ 1.41180837 -0.24293274 -0.35751025 ... -0.03408696  0.24986965
  -0.56084505]
 [-1.21394141 -0.24293274  0.11198424 ... -1.64812038  0.24986965
  -0.56084505]
 [ 0.97418341  0.38609344  0.93049361 ... -0.03408696  0.24986965
   1.78302368]]